In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import random
import string
import re

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Final_Iban.csv")

In [ ]:
df.head()

   Country                                Iban
0  Lebanon  LB45 0871 0323 6563 8857 1005 4480
1   Angola     AO52 1625 9100 8524 8173 8823 5
2  Morocco  MA54 3898 6575 3897 8827 4660 4973
3    Spain       ES15 3563 6540 7512 0965 3719
4    Benin  BJ84 8580 4663 4959 4814 4696 4833

In [ ]:
countries = df['Country'].tolist()

In [ ]:
#Account number patterns from around the world 

patterns = [
    (1,r"[A-Z]\d[A-Z]\d[A-Z]{5}\d{5}[A-Z]\d{2}[A-Z]{4}"),  # A8B4C91234D2E7F1G6HIJKL
    (2,r"\d{4}[A-Z]{3}\d{4}[A-Z]{2}\d"),  # 5X3Y9Z2A1234B8C7D
    (3,r"\d{6}[A-Z]{4}\d{2}"),  # 123456ABCD78EFGH
    (4,r"[A-Z]{4}\d{4}[A-Z]{4}-[A-Z]{4}"),  # KLMN5678PQRS3456TUVW-XYZA
    (5,r"\d{1}[A-Z]{1}\d{1}[A-Z]{3}\d{6}[A-Z]{4}"),  # 9F8G7H123456IJKLM1N
    (6,r"[A-Z]{4}\d{4}-[A-Z]{4}-\d{4}-[A-Z]{4}-[A-Z]{4}-[A-Z]{4}"),  # ABCD1234-EFGH-3456-IJKL-MNOP-QRST
    (7,r"\d{1}[A-Z]{1}\d{1}[A-Z]{3}-\d{4}-[A-Z]{1}\d{1}[A-Z]{3}-\d{1}[A-Z]{1}\d{1}[A-Z]{3}"),  # 1A2B3456-C3D4-E5F6-G7H8
    (8,r"[A-Z]{26}\d{4}[A-Z]{5}"),  # ZYXW3456-VUTSRQPONMLKJIHGFEDCBA
    (9,r"\d{4}-[A-Z]{4}-[A-Z]{4}-\d{4}"),  # 6789-ABCD-EFGH-1234
    (10,r"[A-Z]{1}\d{1}[A-Z]{1}\d{1}-[A-Z]{2}\d{2}-[A-Z]{4}-[A-Z]{4}")  # A1B2-CD34-EFGH-IJKL
]

In [ ]:
!pip install exrex

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting exrex
  Downloading exrex-0.11.0-py2.py3-none-any.whl (23 kB)
Installing collected packages: exrex
Successfully installed exrex-0.11.0

In [ ]:
import exrex
def account_number_creator(country_number):
  for pattern in patterns:
    if pattern[0] == country_number:
      acc_num = exrex.getone(pattern[1])
  return acc_num

In [ ]:
# List of European countries
european_countries = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']

# Filter out European countries from the list
filtered_countries = set([c for c in countries if c not in european_countries])

In [ ]:
filtered_df = df[df['Country'].isin(filtered_countries)]

In [ ]:
import exrex

def generate_numbers(n):
  result=[]
  for index, pattern in patterns:
    for x in range(n//10):
      result.append((index,exrex.getone(pattern)))
  return result

In [ ]:
eu_df = df[df['Country'].isin(european_countries)]

In [ ]:
abc = generate_numbers(100)

In [ ]:
abc

In [ ]:
list_of_non_eu = set(filtered_df['Country'].tolist())

In [ ]:
list_of_non_eu

In [ ]:
country_index = []
for country in list_of_non_eu:
  country = (random.randint(1, 10), country)
  country_index.append(country)

In [ ]:
country_index

[(7, 'Burkina Faso'),
 (6, 'El Salvador'),
 (7, 'Cabo Verde'),
 (7, 'Faroe Islands'),
 (10, 'North Macedonia'),
 (9, 'Brazil'),
 (4, 'Guatemala'),
 (7, 'Albania'),
 (3, 'Moldova'),
 (1, 'San Marino'),
 (2, 'Iraq'),
 (2, 'Turkey'),
 (10, 'United Arab Emirates'),
 (10, 'Saudi Arabia'),
 (4, 'Switzerland'),
 (10, "CÃ´te d'Ivoire"),
 (10, 'Niger'),
 (3, 'Gabon'),
 (1, 'East Timor'),
 (5, 'Benin'),
 (3, 'Cameroon'),
 (2, 'Andorra'),
 (6, 'Algeria'),
 (7, 'Angola'),
 (5, 'Tunisia'),
 (10, 'Djibouti'),
 (2, 'Bosnia and Herzegovina'),
 (4, 'Mauritania'),
 (7, 'Seychelles'),
 (5, 'Palestinian territories'),
 (7, 'Serbia'),
 (6, 'Chad'),
 (9, 'Iceland'),
 (4, 'Dominican Republic'),
 (9, 'Iran'),
 (9, 'Russia'),
 (1, 'Ukraine'),
 (7, 'Sao Tome and Principe'),
 (10, 'Costa Rica'),
 (10, 'Montenegro'),
 (10, 'Liechtenstein'),
 (7, 'Honduras'),
 (8, 'Sudan'),
 (4, 'Monaco'),
 (3, 'Lebanon'),
 (1, 'Comoros'),
 (3, 'Qatar'),
 (4, 'Greenland'),
 (9, 'Jordan'),
 (3, 'Mozambique'),
 (4, 'Vatican City'),
 (6, 'United Kingdom'),
 (1, 'Nicaragua'),
 (5, 'Azerbaijan'),
 (4, 'Israel'),
 (9, 'Morocco'),
 (8, 'Pakistan'),
 (5, 'Equatorial Guinea'),
 (5, 'Bahrain'),
 (6, 'Togo'),
 (9, 'Kosovo'),
 (7, 'Egypt'),
 (2, 'Norway'),
 (1, 'Central African Republic'),
 (6, 'Mali'),
 (4, 'Mauritius'),
 (4, 'Kazakhstan'),
 (1, 'Guinea-Bissau'),
 (7, 'Georgia'),
 (9, 'Kuwait'),
 (8, 'Senegal'),
 (7, 'Libya'),
 (6, 'Gibraltar'),
 (10, 'Belarus'),
 (9, 'Congo'),
 (7, 'Madagascar'),
 (2, 'Saint Lucia'),
 (1, 'Burundi')]

In [ ]:
abc

In [ ]:
random.shuffle(abc)

In [ ]:
len(filtered_df)

1125029

In [ ]:
len(abc)

1125029

In [ ]:
xyz = generate_numbers(10)

In [ ]:
xyz = xyz[:9]

In [ ]:
len(xyz)

9

In [ ]:
for x in xyz:
  abc.append(x)

In [ ]:
filtered_df.drop('Iban', axis=1, inplace=True)
filtered_df['Iban'] = abc

In [ ]:
# Concatenate the dataframes vertically
result = pd.concat([eu_df, filtered_df])

In [ ]:
result.to_csv('account_numbers_diffformats.csv', index=False)

In [ ]:
# Upload a file to Google Drive
file_path = '/content/account_numbers_diffformats.csv'  # Replace with your file path
drive_path = '/content/drive/Shareddrives/CRP_SG'  # Replace with your desired destination in Google Drive
!cp $file_path $drive_path